.login {
  margin-top: 115px;
  border: solid .7px #e5e5e5;
  border-radius: 7px;
  padding: 15px 20px 30px 20px;
}

.signup {
  margin-top: 90px;
  border: solid .5px #e5e5e5;
  border-radius: 5px;
  padding: 15px 20px 30px 20px;
}

.result {
  margin-top: 15px;
}

.clickable {
  cursor: pointer;
}

.profile {
  padding: 10px 0;
}

#navbar-brand {
  color: white;
  padding-top: 23px;
}

#searchbar {
  padding: 15px;
}

#button-search {
  margin-left: 15px;
}

.default-profile {
  border: solid .7px gray;
  border-radius: 2px;
  margin: 1em 0 .5em 0;

}

.username {
  float: right;
  position: relative;
  top: 5px;
  left: -15px;
  text-decoration: none;
  color: white;
/*  border: solid .1px white; */
  border-radius: 10%;
  padding: 2px;
}

.pipe {
  float: right;
  position: relative;
  top: 5px;
  left: -7px;
  text-decoration: none;
  color: white;
/*  border: solid .1px white;
*/  border-radius: 10%;
  padding: 2px;
}

img.default-profile {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.logout {
  color: red;
  float: right;
  position: relative;
  top: 5px;
  text-decoration: none;
  border: solid .2px grey;
  border-radius: 10%;
  padding: 2px;
}

.logout:hover {
  color: white;
  text-decoration: none;
}